<!-- This should go in ~/.ignition/gazebo/ folder as custom config that has the sensors system
     And export IGN_GAZEBO_SERVER_CONFIG_PATH=$HOME/.ignition/gazebo/rendering_sensors_server.config
     https://gazebosim.org/api/gazebo/6/server_config.html
-->
<server_config>
  <plugins>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-scene-broadcaster-system"
            name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="ignition-gazebo-sensors-system"
            name="gz::sim::systems::Sensors">
      <render_engine>ogre</render_engine>
    </plugin>
  </plugins>
</server_config>